%% -*- erlang -*-
{erl_opts, [debug_info]}.
{sub_dirs, ["rel",
	    "lib/exodm_setup",
	    "lib/exodm_http",
	    "lib/exodm_db",
	    "lib/exodm_web"
	   ]}.
{deps,
 [
  {lager, ".*", {git, "git@github.com:Feuerlabs/lager.git", "HEAD"}}
  , {setup, ".*", {git, "git://github.com/uwiger/setup.git", "HEAD"}}
  , {gproc, ".*", {git, "git://github.com/uwiger/gproc.git", "HEAD"}}
  , {jobs, ".*", {git, "git://github.com/esl/jobs.git", "HEAD"}}
  , {yaws, ".*", {git, "git://github.com/Feuerlabs/yaws.git", "HEAD"}}
  , {lhttpc, ".*", {git, "git://github.com/oscarh/lhttpc.git", "HEAD"}}
  , {bcrypt, ".*", {git, "git://github.com/smarkets/erlang-bcrypt.git",
		    "HEAD"}}
  , {exo, ".*", {git, "git@github.com:Feuerlabs/exo.git", "HEAD"}}
  , {exodm_rpc, ".*", {git, "git@github.com:Feuerlabs/exodm_rpc.git", "HEAD"}}
  , {exodm_ck3, ".*", {git, "git@github.com:Feuerlabs/exodm_ck3.git", "HEAD"}}
  , {ck3, ".*", {git, "git@github.com:Feuerlabs/ck3.git", "HEAD"}}
  , {yang, ".*", {git, "git@github.com:Feuerlabs/yang.git", "HEAD"}}
  , {bert, ".*", {git, "git@github.com:Feuerlabs/bert.git", "HEAD"}}
  , {reactor, ".*", {git, "git@github.com:Feuerlabs/reactor.git", "HEAD"}}
  , {eleveldb, ".*", {git, "git://github.com/basho/eleveldb.git", "HEAD"}}
  , {kvdb, ".*", {git, "git@github.com:Feuerlabs/kvdb.git", "HEAD"}}
  , {gettext, ".*", {git, "git://github.com/etnt/gettext.git", "HEAD"}}
  , {simple_bridge, ".*", {git, "git@github.com:Feuerlabs/simple_bridge.git", "HEAD"}}
  , {nitrogen_core, "2.1.*", {git, "git://github.com/nitrogen/nitrogen_core.git", "HEAD"}}
  , {nprocreg, "0.2.*", {git, "git://github.com/nitrogen/nprocreg.git", "HEAD"}}
 ]}.
