%% -*- erlang -*-
{erl_opts, [debug_info]}.
{sub_dirs, ["rel",
	    "lib/exodm_setup",
	    "lib/exodm_http",
	    "lib/exodm_db",
	    "lib/exodm_rpc",
	    "lib/exodm_web"
	   ]}.
{deps,
 [
    {lager, ".*", {git, "git@github.com:Feuerlabs/lager.git", "1.0.0.fl.3"}}
  , {setup, ".*", {git, "git://github.com/uwiger/setup.git", "1.2.4"}}
  , {enet, ".*", {git, "git@github.com:Feuerlabs/enet.git", "0.2"}}
  , {parse_trans, ".*", {git, "git://github.com/uwiger/parse_trans.git", "2.5.4"}}
  , {gproc, ".*", {git, "git://github.com/uwiger/gproc.git", "0.2.14"}}
  , {jobs, ".*", {git, "git://github.com/uwiger/jobs.git", "0.2.5"}}
  , {yaws, ".*", {git, "git://github.com/Feuerlabs/yaws.git", "1.95.fl.1"}}
  , {lhttpc, ".*", {git, "git://github.com/Feuerlabs/lhttpc.git", "1.2.6.fl.5"}}
  , {bcrypt, ".*", {git, "git://github.com/Feuerlabs/erlang-bcrypt.git",
		    "0.5.0.fl.2"}}
  , {exo, ".*", {git, "git@github.com:Feuerlabs/exo.git", "0.6.3"}}
  , {exosense_specs, ".*", {git, "git@github.com:Feuerlabs/exosense_specs.git",
			    "0.4.7"}}
  %% , {exodm_ck3, ".*", {git, "git@github.com:Feuerlabs/exodm_ck3.git", "0.3"}}
  , {yang, ".*", {git, "git@github.com:Feuerlabs/yang.git", "0.6.5"}}
  , {bert, ".*", {git, "git@github.com:Feuerlabs/bert.git", "0.7.1"}}
  , {reactor, ".*", {git, "git@github.com:Feuerlabs/reactor.git", "0.2"}}
  , {eleveldb, ".*", {git, "git://github.com/basho/eleveldb.git", "1.2.2p5"}}
  , {kvdb, ".*", {git, "git@github.com:Feuerlabs/kvdb.git", "0.7.6"}}
 ]}.

%% {escript_name, "lib/exodm_db/src/provision_device"}.
