%% -*- erlang -*-
{erl_opts, [debug_info]}.
{sub_dirs, ["rel","lib/exodm_setup"]}.
{deps,
 [
  {unsplit, ".*", {git, "git://github.com/uwiger/unsplit.git", "HEAD"}}
  , {setup, ".*", {git, "git://github.com/esl/setup.git", "HEAD"}}
  , {gproc, ".*", {git, "git://github.com/uwiger/gproc.git", "0.2.12"}}
  , {exo, ".*", {git, "git@github.com:Feuerlabs/exo.git", "HEAD"}}
  , {yang, ".*", {git, "git@github.com:Feuerlabs/yang.git", "HEAD"}}
  , {bert, ".*", {git, "git@github.com:Feuerlabs/bert.git", "HEAD"}}
  , {reactor, ".*", {git, "git@github.com:Feuerlabs/reactor.git", "HEAD"}}
  , {eleveldb, ".*", {git, "git://github.com/basho/eleveldb.git", "HEAD"}}
  , {kvdb, ".*", {git, "git@github.com:Feuerlabs/kvdb.git", "HEAD"}}
 ]}.
