%% -*- erlang -*-
{deps, [
	{gettext, ".*",
	 {git, "git@github.com:Feuerlabs/gettext.git", "2.1.0.fl.1"}}
	, {simple_bridge, ".*",
	   {git, "git@github.com:Feuerlabs/simple_bridge.git", "2.1.0"}}
	, {nitrogen_core, "2.[12].*",
	   {git, "git@github.com:Feuerlabs/nitrogen_core.git", "2.1.0.fl.2"}}
	, {nprocreg, "0.2.*",
	   {git, "git@github.com:Feuerlabs/nprocreg.git", "0.2.0.fl.1"}}

	%% {gettext, ".*", 
	%%  {git, "git://github.com/etnt/gettext.git", "HEAD"}},
	%% {nitrogen_core, "2.1.*", 
	%%  {git, "git://github.com/nitrogen/nitrogen_core.git", "HEAD"}},
	%% {nprocreg, "0.2.*", 
	%%  {git, "git://github.com/nitrogen/nprocreg.git", "HEAD"}},
	%% {simple_bridge, ".*",
	%%  {git, "git@github.com:Feuerlabs/simple_bridge.git", "HEAD"}}
       ]}.

