%% -*- erlang -*-
{plugins, [exodm_rebar_plugin]}.
{pa, "../ebin"}.

%% Add the apps that need to be included in the generated release
{rel_apps, "exodm",
	    [kernel,stdlib,sasl,runtime_tools,compiler,
	     {setup,load}, {exodm_setup, load}, {sext, load},
	     public_key, crypto, ssl, lhttpc,
	     gproc, exo, yang, bert, reactor, ck3,
	     eleveldb, sqlite3, kvdb,mnesia,unsplit,
	     {yaws,load}, exodm_http, exodm_ck3, 
	     exodm_db, exodm_web
	    ]}.
