%% -*- erlang -*-
{plugins, [exodm_rebar_plugin]}.
{plugin_dir, ["../util"]}.
%% {pa, "../ebin"}.
%% Name of the release target directory
{target, "lib/exodm"}.

%% Add the apps that need to be included in the generated release
%% There can be several rel_apps entries here. Each will be matched
{rel_apps, "exodm",
	    [kernel,stdlib,sasl,runtime_tools,compiler,
	     {inets,load}, {setup,load}, {exodm_setup, load}, {sext, load},
	     syntax_tools, goldrush, lager, ale, asn1, public_key, 
	     crypto, bcrypt, exometer, exometer_core, exometer_collectd,
	     ssl, gproc, jobs, exo, yang, bert, reactor, lhttpc,
	     eleveldb, sqlite3, kvdb, {yaws,load},
	     {exosense_specs, load}, {exodm_plugin, load}, 
	     exodm_rpc, exodm_http,
	     exodm_db,exodm
	    ]}.

