%% -*- erlang -*-
{plugins, [exodm_rebar_plugin]}.
{pa, "../ebin"}.

%% Add the apps that need to be included in the generated release
{rel_apps, "exodm",
	    [kernel,stdlib,sasl,
	     {setup,load}, {exodm_setup, load},
	     gproc, exo, yang, bert, reactor,
	     eleveldb, sqlite3, kvdb,mnesia,unsplit,
	     {yaws,load}, exodm_http
	    ]}.
