%% -*- erlang -*-
[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},
 {yaws, [
	 {embedded, true}
	]},
 {ck3, [
	{yang_rpc_specs,
	 [{exodm_ck3_rpc, "$PRIV_DIR/yang/ckp.eterm"},
	  {exodm_ck3_cfg_rpc, "$PRIV_DIR/yang/exosense.eterm"}]}
       ]},
 {kvdb, [
	 {databases, [
		      {kvdb_conf, [{file, "db/kvdb_conf"},
				   {backend, leveldb},
				   {tables, [data]},
				   {encoding, {raw, term, raw}}]},
		      {fifo, [{file, "db/fifo.db"},
			      {backend, leveldb},
			      {type, fifo},
			      {encoding, sext}]}
		     ]}
	]}
 %% {exodm_http, [
 %% 	       {appmods, [{"/ck3", exodm_ck3_appmod}]},
 %% 	       {port, 8080},
 %% 	       {listen, {127,0,0,1}}
 %% 	      ]}
].

