%% -*- erlang -*-
[
 {setup, [{abort_on_error, false}]},
 {exodm_db, [{backup_before_transform, true}]},
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},
 {yaws, [
	 {embedded, true}
	]},
 {ck3, [
	{yang_rpc_specs,
	 [{exodm_ck3_rpc, "$PRIV_DIR/yang/ckp.eterm"},
	  {exodm_ck3_cfg_rpc, "$PRIV_DIR/yang/exosense.eterm"}]}
       ]},
{exodm, [
	 {yaws_sconf,
	  [
	   {sconf, [
		    {id, "EXODM_RPC"},
		    {appmods, [{"exodm", exodm_rpc_yaws_appmod}]},
		    {xtra_docroots, ["/exodm/rpc","$PRIV_DIR/www"]},
		    {port, 8008},
		    {auth, [{mod, exodm_rpc_yaws_auth},
			    {realm, "exodm@feuerlabs.com"},
			    {dir, "/exodm"}]},
		    {listen, {0,0,0,0}}
		   ]}
	  ]
	 }]},
 {lager, [
	  {handlers, [
		      {lager_console_backend, [debug,true]},
		      {lager_file_backend,
		       [
			{"log/lager/error.log", error, 10485760, "$D0", 5},
			{"log/lager/console.log", debug, 20971520, "$D0", 10}
		       ]}
		     ]}
	 ]},
 {kvdb, [
	 {databases, [
		      {kvdb_conf, [{file, "db/kvdb_conf"},
				   {backend, kvdb_paired},
				   {module1, kvdb_ets},
				   {module2, kvdb_leveldb},
				   {options2, [{update_index, false}]},
				   {tables, [data]},
				   {encoding, {raw, term, raw}},
				   {schema, kvdb_schema_events}]},
		      {fifo, [{file, "db/fifo.db"},
			      {backend, leveldb},
			      {type, fifo},
			      {encoding, sext}]}
		     ]}
	]}
 %% {exodm_http, [
 %% 	       {appmods, [{"/ck3", exodm_ck3_appmod}]},
 %% 	       {port, 8080},
 %% 	       {listen, {127,0,0,1}}
 %% 	      ]}
].
