%% -*- erlang -*-
{ plugins, [exodm_db_rebar_plugin] }.
{ plugin_dir, "util" }.
{ erl_opts, [debug_info, {i, "../../include"}] }.
{ escript_name, "src/provision_device" }.

{deps, [
	{lager, ".*", {git, "git@github.com:Feuerlabs/lager.git", "1.0.0.fl.2"}}
	, {kvdb, ".*", {git, "git@github.com:Feuerlabs/kvdb.git", "0.7.2"}}
	]}.

{ escript_emu_args, "%%! -hidden -name escript -setcookie exodm\n" }.

