%% -*- erlang -*-
%% Config file for exodm_db library.
{ plugins, [exodm_db_rebar_plugin] }.
{ plugin_dir, "util" }.
{ erl_opts, [debug_info, {i, "../../include"}, 
	     {parse_transform, lager_transform}] }.
{ escript_name, "src/provision_device" }.

{deps, [
	{lager, ".*", {git, "git@github.com:basho/lager.git", "3.0.1"}}
	, {kvdb, ".*", {git, "git@github.com:Feuerlabs/kvdb.git", "1.4.5"}}
	]}.

{ escript_emu_args, "%%! -hidden -name escript -setcookie exodm\n" }.

